<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0wAl-TIhQlxlSWolzQbT6d_3sqIB5lu8</string>
	<key>GCM_SENDER_ID</key>
	<string>1089733084360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>raghav.app.amazonClone</string>
	<key>PROJECT_ID</key>
	<string>clone-b29a3</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-b29a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089733084360:ios:829de84b2734e0a18611fd</string>
</dict>
</plist>